<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="StudentManagementDB.db"
			 providerName="System.Data.SQLite" />
	</connectionStrings>
	<appSettings>
		<add key="EPPlus:ExcelPackage:License" value="NonCommercialPersonal:Dain" />
	</appSettings>
</configuration>