<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=StudentManagementDB.db" />
	</connectionStrings>
	<appSettings>
		<add key="EPPlus:ExcelPackage:License" value="NonCommercialPersonal:Võ Lâm Đại Nhất" />
	</appSettings>
</configuration>